<footer class="footer" id="contacts">
  <div class="container">
    <div class="container-footer">
      <div class="newsletter">
        <a href="/index.html" class="logo-footer">
          <svg class="logo-footer-svg" width="83" height="23">
            <use href="/img/sprite.svg#logo"></use>
          </svg>
        </a>
        <p class="text-footer">
          Subscribe to our newsletter for the latest updates on our yoga
          <span class="desktop-text">clases</span>
          <span class="mobile-text">courses</span>
          and events.
        </p>
        <div class="actions">
          <form class="form-footer">
            <label class="form-footer-email">
              <input
                class="input-footer"
                type="email"
                name="useremail"
                placeholder="Your email here"
                required
                pattern="([A-Za-z0-9_.-]{1,})@([A-Za-z0-9_.-]{1,})\.([A-Za-z]{2,8})"
                title="Please enter a valid email address, e.g. example@mail.com"
              />
            </label>
            <button class="form-footer-btn link-hover" type="submit">
              Join
            </button>
          </form>
          <p class="text-privacy">
            By subscribing, you consent to our Privacy Policy and agree to
            receive updates.
          </p>
        </div>
        <p class="copyright copyright-desktop">
          &copy;2025 Yoga Studio. All rights reserved.
        </p>
      </div>
      <div class="links-footer">
        <div class="links-connect">
          <h3 class="title-footer">Quick Links</h3>
          <ul class="link-footer-four">
            <li class="list-footer">
              <a href="#yoga-classes">Yoga Classes</a>
            </li>
            <li class="list-footer"><a href="#team">Team</a></li>
            <li class="list-footer"><a href="#pricing">Pricing</a></li>
            <li class="list-footer"><a href="#">Contacts</a></li>
          </ul>
        </div>
        <div class="links-connect">
          <h3 class="title-footer">Connect With Us</h3>
          <ul class="link-footer-four">
            <li class="list-footer">
              <a
                class="icons-list-footer"
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icons-footer" width="24" height="24">
                  <use href="/img/sprite.svg#facebook"></use>
                </svg>
                Facebook
              </a>
            </li>
            <li class="list-footer">
              <a
                class="icons-list-footer"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icons-footer" width="24" height="24">
                  <use href="/img/sprite.svg#instagram"></use>
                </svg>
                Instagram
              </a>
            </li>
            <li class="list-footer">
              <a
                class="icons-list-footer"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icons-footer" width="24" height="24">
                  <use href="/img/sprite.svg#linkedIn"></use>
                </svg>
                LinkedIn
              </a>
            </li>
            <li class="list-footer">
              <a
                class="icons-list-footer"
                href="https://www.youtube.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icons-footer" width="24" height="24">
                  <use href="/img/sprite.svg#youtube"></use>
                </svg>
                YouTube
              </a>
            </li>
          </ul>
        </div>
      </div>
      <p class="copyright copyright-mobile">
        &copy;2025 Yoga Studio. All rights reserved.
      </p>
    </div>
  </div>
</footer>
