<section class="gallery-section" id="gallary">
  <div class="container gallery-container">
    <h2 class="gallery-title">Breathe in the Space</h2>
    <p class="subtitle">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <div class="gallery-item-inner">
          <picture class="gallery-picture">
            <source
              srcset="
                /img/gallery/pose-desktop.jpg     1x,
                /img/gallery/pose-desktop-@2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/gallery/pose-tablet.jpg     1x,
                /img/gallery/pose-tablet-@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/gallery/pose-mobile.jpg     1x,
                /img/gallery/pose-mobile-@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="yoga-image"
              src="/img/gallery/pose-mobile.jpg"
              alt="Group doing yoga lunges"
              width="155"
              height="155"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-item-inner">
          <picture class="gallery-picture">
            <source
              srcset="
                /img/gallery/yoga-women-desktop.jpg     1x,
                /img/gallery/yoga-women-desktop-@2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/gallery/yoga-women-tablet.jpg     1x,
                /img/gallery/yoga-women-tablet-@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/gallery/yoga-women-mobile.jpg     1x,
                /img/gallery/yoga-women-mobile-@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="yoga-image"
              src="/img/gallery/yoga-women-mobile.jpg"
              alt="Woman meditating in lotus pose"
              width="155"
              height="155"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-item-inner">
          <picture class="gallery-picture">
            <source
              srcset="
                /img/gallery/yoga-room-desktop.jpg     1x,
                /img/gallery/yoga-room-desktop-@2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/gallery/yoga-room-tablet.jpg     1x,
                /img/gallery/yoga-room-tablet-@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/gallery/yoga-room-mobile.jpg     1x,
                /img/gallery/yoga-room-mobile-@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="yoga-image"
              src="/img/gallery/yoga-room-mobile.jpg"
              alt="Empty yoga studio with mats"
              width="155"
              height="155"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-item-inner">
          <picture class="gallery-picture">
            <source
              srcset="
                /img/gallery/yoga-studio-desktop.jpg     1x,
                /img/gallery/yoga-studio-desktop-@2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/gallery/yoga-studio-tablet.jpg     1x,
                /img/gallery/yoga-studio-tablet-@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/gallery/yoga-studio-mobile.jpg     1x,
                /img/gallery/yoga-studio-mobile-@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="yoga-image"
              src="/img/gallery/yoga-studio-mobile.jpg"
              alt="Sunlit yoga room interior"
              width="155"
              height="155"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-item-inner">
          <picture class="gallery-picture">
            <source
              srcset="
                /img/gallery/yoga-people-desktop.jpg     1x,
                /img/gallery/yoga-people-desktop-@2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/gallery/yoga-people-tablet.jpg     1x,
                /img/gallery/yoga-people-tablet-@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/gallery/yoga-people-mobile.jpg     1x,
                /img/gallery/yoga-people-mobile-@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="yoga-image"
              src="/img/gallery/yoga-people-mobile.jpg"
              alt="Group seated in lotus meditation"
              width="155"
              height="155"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-item-inner">
          <picture class="gallery-picture">
            <source
              srcset="
                /img/gallery/yoga-practice-desktop.jpg     1x,
                /img/gallery/yoga-practice-desktop-@2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/gallery/yoga-practice-tablet.jpg     1x,
                /img/gallery/yoga-practice-tablet-@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/gallery/yoga-practice-mobile.jpg     1x,
                /img/gallery/yoga-practice-mobile-@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="yoga-image"
              src="/img/gallery/yoga-practice-mobile.jpg"
              alt="Woman meditating at front of class"
              width="155"
              height="155"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
