<section class="pricing" id="pricing">
  <div class="container">
    <p class="text-pricing">Affordable</p>
    <h2 class="page-pricing">Pricing Plans</h2>
    <p class="text">Choose the perfect plan for your yoga journey.</p>

    <ul class="list-thumb-pricing">
      <li class="thumb-pricing">
        <h3 class="page-thumb">One Session</h3>
        <p class="price-text">$10</p>
        <ul class="ul-container-option">
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">1 group session</p>
          </li>
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">10% discount for next 2 Sessions</p>
          </li>
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">Community support group</p>
          </li>
        </ul>
        <button
          type="button"
          class="button-pricing link-hover"
          data-modal-open-1
        >
          Join
        </button>
      </li>
      <li class="thumb-pricing">
        <h3 class="page-thumb">8 Sessions Package</h3>
        <p class="price-text">$65</p>
        <ul class="ul-container-option">
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">6 Group Sessions</p>
          </li>
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">2 Individual Sessions</p>
          </li>
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing-mobile">Priority customer support</p>
            <p class="option-text-pricing-tablet">Community support group</p>
          </li>
        </ul>
        <button
          type="button"
          class="button-pricing link-hover"
          data-modal-open-8
        >
          Join
        </button>
      </li>

      <li class="thumb-pricing-tablet">
        <div class="container-tablet-button">
          <h3 class="page-thumb">12 Sessions Package</h3>
          <p class="price-text">$80</p>
          <button
            type="button"
            class="button-pricing link-hover"
            data-modal-open-12
          >
            Join
          </button>
        </div>
        <ul class="ul-container-option">
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">8 Group Sessions</p>
          </li>
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">4 Individual Sessions</p>
          </li>
          <li class="item-pricing-mobile">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">Access to advanced classes</p>
          </li>
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">Monthly yoga challenges</p>
          </li>
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">Exclusive member discounts</p>
          </li>
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">Community support group</p>
          </li>
        </ul>
      </li>
      <li class="thumb-pricing">
        <h3 class="page-thumb">12 Sessions Package</h3>
        <p class="price-text">$80</p>
        <ul class="ul-container-option">
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">8 Group Sessions</p>
          </li>
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">4 Individual Sessions</p>
          </li>
          <li class="item-pricing-mobile">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">Access to advanced classes</p>
          </li>
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">Monthly yoga challenges</p>
          </li>
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">Exclusive member discounts</p>
          </li>
          <li class="item-pricing">
            <svg width="25" height="25">
              <use href="/img/sprite.svg#check"></use>
            </svg>
            <p class="option-text-pricing">Community support group</p>
          </li>
        </ul>
        <button
          type="button"
          class="button-pricing link-hover"
          data-modal-open-24
        >
          Join
        </button>
      </li>
    </ul>
  </div>
</section>
