<section class="yoga-classes" id="yoga-classes">
 <div class="container explore-container">
  <p class="tagline-wrapper">Explore</p>
  <h2 class="explore-main-title">Discover Our Most Popular Yoga <span class="title-part">Programs</span></h2>
  <p class="explore-main-text">
    Join our community and elevate your practice with our expertly designed yoga programs. 
    Each <span class="title-part">course is tailored to meet various skill levels and personal goals.</span>
  </p>

  <ul class="explore-list">
    <li class="explore-program top-row">
      <picture>
      <source media="(min-width: 1336px)" srcset="/img/programs/beginner-desktop.jpg 1x, /img/programs/beginner-desktop-@2x.jpg 2x">
      <source media="(min-width: 775px)" srcset="/img/programs/beginner-tablet.jpg 1x, /img/programs/beginner-tablet-@2x.jpg 2x">
      <img
            class="explore-img"
            srcset="/img/programs/beginners-mobile.jpg 1x, /img/programs/beginners-mobile-@2x.jpg 2x"
            src="/img/programs/beginners-mobile.jpg " 
            alt="beginners" 
            width="340"
            >
      </picture>
      <div class="explore-content">
        <h3 class="explore-title">Beginner Yoga: <span class="title-part">Foundations</span> <span class="title-part-is-hidden">for New Practitioners</span></h3>
        <p class="explore-text">Learn the basics of yoga in a supportive environment.</p>
      </div>
    </li>

    <li class="explore-program top-row">
      <picture>
      <source media="(min-width: 1336px)" srcset="/img/programs/vinyasa-desktop.jpg 1x, /img/programs/vinyasa-desktop-@2x.jpg 2x">
      <source media="(min-width: 775px)" srcset="/img/programs/vinyasa-tablet.jpg 1x, /img/programs/vinyasa-tablet-@2x.jpg 2x">
      <img
            class="explore-img"
            srcset="/img/programs/vinyasa-mobile.jpg 1x, /img/programs/vinyasa-mobile-@2x.jpg 2x"
            src="/img/programs/vinyasa-mobile.jpg " 
            alt="vinyasa flow" 
            width="340">
      </picture>
      <div class="explore-content">
        <h3 class="explore-title">Vinyasa Flow: Energize <span class="title-part">Your Body and Mind</span></h3>
        <p class="explore-text">Experience a dynamic sequence that connects breath and movement.</p>
      </div>
    </li>

    <li class="explore-program full-width">
      <picture>
      <source media="(min-width: 1336px)" srcset="/img/programs/restorative-desktop.jpg 1x, /img/programs/restorative-desktop-@2x.jpg 2x">
      <sourse media="(min-width: 775px)" srcset="img/programs/restorative-tablet.jpg 1x, /img-programs/restorative-tablet-@2x.jpg x2">
      <img
            class="explore-img wide"
            srcset="/img/programs/restorative-mobile.jpg 1x, /img/programs/restorative-mobile-@2x.jpg 2x"
            src="/img/programs/restorative-mobile.jpg" 
            alt="deep relaxation and healing" 
            >
      </picture>
      <div class="explore-content">
        <h3 class="explore-title">Restorative Yoga: Deep <span class="title-part">Relaxation and Healing</span></h3>
        <p class="explore-text">Unwind and rejuvenate with gentle poses and mindfulness.</p>
      </div>
    </li>
  </ul>
   
  <a href="#pricing" class="pricing-link link-hover">
    <span class="link-mobile">Join</span>&nbsp; <span class="link-tablet-desktop">now</span
      >
    </a>
    
</div>
</section>
