/*тут писати базові стилі які не одноразово повторюються*/
body {
  font-family: 'Sarabun', sans-serif;
  color: #0d0b0a;
  background-color: #f2fafa;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
input {
  font-family: inherit;
}
.hiden {
  display: none;
}

.link-hover:hover,
.link-hover:focus {
  border: #7bafff;
  background-color: #7bafff;
  color: #f2fafa;
}
